@model GarbageCollector.Models.EmployeePhoneNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeePhoneNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
